<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>🗲 {{ .Site.Title }} 🗲</title>
    <link rel="stylesheet" href='{{- partial "asset" (dict "Site" .Site "Asset" "main.css") -}}'>
</head>

<body itemscope itemtype="https://schema.org/Person" role="main">
    {{- block "main" . -}} {{- end -}}
    <script>
        (function () {
            const el = document.getElementById('version');
            const s = new Date(1988, 08, 27);
            function renderVersion() {
                const n = new Date();
                const d = n - s;
                const yrs = d / 31556900000;
                const a = yrs.toFixed(8).toString().split('.');
                const yr = a[0];
                const ms = a[1];
                requestAnimationFrame(function () { el.innerHTML = yr + '.' + ms });
            }
            setInterval(renderVersion, 100);
        })();
    </script>
</body>

</html>