/**
 * Reset styles
 */
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
}

pre,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
 * Base styles
 */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: hsla(204, 15%, 94%, 1);
  color: hsla(0, 0%, 0%, 0.87);
  font-size: 1.6rem;
  height: 100%;
  line-height: 1.75;
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

/**
 * Site styles
 */
.Content {
  background-color: hsl(52, 46%, 87%);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
  height: calc(100vh - 2.4rem);
  margin: 1.2rem;
  overflow-y: auto;
  padding: 1.2rem;
}

@media (min-width: 768px) {
  .Content {
    height: calc(100vh - 6.4rem);
    margin: 3.2rem;
    padding: 3.2rem;
  }
}

.Heading-primary {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 3.2rem;
  margin-top: 0;
}

.Heading-secondary {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.2rem;
  margin-top: 0;
}

/**
 * ProfileList
 */
.ProfileList {
  margin: 0;
  margin-bottom: 3.2rem;
  padding: 0;
}

.ProfileList-item {
  align-items: center;
  display: flex;
  list-style: none;
  margin-top: 1.2rem;
}

.ProfileList-itemIcon {
  min-height: 2.4rem;
  min-width: 2.4rem;
}

.ProfileList-itemLink {
  display: inline-block;
  margin-left: 1.2rem;
}

/**
 * SkillList
 */
.SkillList {
  margin: 0;
  padding: 0;
}

.SkillList-item {
  list-style: none;
  margin-top: 1.2rem;
}

.SkillList-itemIcon {
  animation: fade 1s 1 .5s;
  animation-fill-mode: both;
  stroke: hsla(0, 0%, 100%, 0.87);
  min-height: 2.4rem;
  margin-left: 1.2rem;
  min-width: 2.4rem;
  opacity: 0;
}

.SkillList-itemText {
  animation: fade 1s 1 .5s;
  animation-fill-mode: both;
  margin-left: 1.2rem;
  opacity: 0;
}

.SkillList-itemProgress {
  align-items: center;
  animation: expand 2s 1;
  background-color: hsla(160, 6%, 42%, 1);
  color: hsla(0, 0%, 100%, 0.87);
  display: flex;
  width: 0%;
}

.SkillList-itemProgress:hover {
  animation: expand 2s 1, rainbow 3s infinite;
}

.SkillList-labels {
  border-top: 0.1rem solid hsla(0, 0%, 0%, 0.38);
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  text-transform: lowercase;
}

/**
 * Animations
 */
@keyframes fade {
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    width: 0;
  }
}

@keyframes rainbow {
  0%, 100% {
    background-color: #fea3aa;
  }
  16% {
    background-color: #f8b88b;
  }
  32% {
    background-color: #faf884;
  }
  48% {
    background-color: #baed91;
  }
  64% {
    background-color: #b2cefe;
  }
  80% {
    background-color: #f2a2e8;
  }
}
