---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Timothy Warrington">
	<main>
		<!-- <Image alt="very accurate anime rendition of myself" height={200} src={profilePic} width={200} /> -->
		<h1>Timothy Warrington</h1>
		<ul>
			<li>
				<a href="https://github.com/tjrawrin" target="_blank" rel="nofollow noreferrer noopener">
					GitHub
				</a>
			</li>
			<li>
				<a href="https://gitlab.com/tjrawrin" target="_blank" rel="nofollow noreferrer noopener">
					GitLab
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/timothywarrington" target="_blank" rel="nofollow noreferrer noopener">
					LinkedIn
				</a>
			</li>
		</ul>
	</main>
</Layout>