{{ define "main" }}
<h1 class="Heading-primary" itemprop="name">Timothy Warrington</h1>
<meta itemprop="url" content="https://timothywarrington.com" />
<h2 class="Heading-secondary">Profiles</h2>
<ul class="ProfileList">
  {{ range $.Site.Data.profiles.data }}
  <li class="ProfileList-item">
    {{ safeHTML .icon }}
    <a class="ProfileList-itemLink" href="{{ .url }}" target="_blank" rel="nofollow noreferrer noopener">{{ .name }}</a>
  </li>
  {{ end }}
</ul>
<h2 class="Heading-secondary">Skills</h2>
<ul class="SkillList">
  {{ range $.Site.Data.skills.data }}
  <li class="SkillList-item">
    <div class="SkillList-itemProgress" style="width: {{ .proficiency }}%">
      <svg class="SkillList-itemIcon" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24"
        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round">
        <polyline points="16 18 22 12 16 6"></polyline>
        <polyline points="8 6 2 12 8 18"></polyline>
      </svg>
      <span class="SkillList-itemText">{{ .name }}</span>
    </div>
  </li>
  {{ end }}
  <li class="SkillList-labels">
    <span class="SkillList-start">Beginner</span>
    <span class="SkillList-middle">Intermediate</span>
    <span class="SkillList-end">Advanced</span>
  </li>
</ul>
{{ end }}
